.box {outline: 2px solid ;
    padding: 1em;
    width:  8em;
}

.resize {
    max-width: 13%;
    max-height: auto;
    padding: 5em;
}

.About {
    float: right;
    padding: 2em;
}
.Experience {
    float: right;
    padding: 2em
}
.Work {
    float: right;
    padding: 2em;
}
.Contact {
    float:right;
    padding: 2em;
}

.AboutMe {
    float: right;
    outline: 2px solid ;
    padding: 1em;
    width:  20em; 
    height: 5em;
}
.my_div {
    background-color: lightblue;
}